//! **************************************************************************
// Written by: Map P.20131013 on Wed Nov 17 22:37:14 2021
//! **************************************************************************

SCHEMATIC START;
COMP "Y<1>" LOCATE = SITE "P1" LEVEL 1;
COMP "Y<2>" LOCATE = SITE "P2" LEVEL 1;
COMP "EN" LOCATE = SITE "T3" LEVEL 1;
COMP "IN<0>" LOCATE = SITE "W2" LEVEL 1;
COMP "IN<1>" LOCATE = SITE "W1" LEVEL 1;
COMP "IN<2>" LOCATE = SITE "U2" LEVEL 1;
COMP "IN<3>" LOCATE = SITE "U1" LEVEL 1;
COMP "IN<4>" LOCATE = SITE "T1" LEVEL 1;
COMP "IN<5>" LOCATE = SITE "Y7" LEVEL 1;
COMP "IN<6>" LOCATE = SITE "Y8" LEVEL 1;
COMP "IN<7>" LOCATE = SITE "W7" LEVEL 1;
COMP "Done" LOCATE = SITE "R1" LEVEL 1;
COMP "Y<0>" LOCATE = SITE "N2" LEVEL 1;
SCHEMATIC END;

